absl-py==2.3.1
aioquic==1.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.5
blinker==1.9.0
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
cryptography==44.0.3
cycler==0.12.1
Django==5.2
django-cors-headers==4.7.0
django-filter==25.1
django-redis==6.0.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
facenet-pytorch==2.5.3
Faker==37.4.0
filelock==3.13.1
fire==0.7.1
Flask==3.1.0
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.60.0
fsspec==2024.6.1
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6
graphql-relay==3.2.0
grpcio==1.75.0
gunicorn==23.0.0
h11==0.16.0
h2==4.1.0
h5py==3.14.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
kaitaistruct==0.10
keras==3.11.3
kiwisolver==1.4.9
ldap3==2.9.1
libclang==18.1.1
lz4==4.4.4
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
mitmproxy==12.1.1
mitmproxy-windows==0.12.6
mitmproxy_rs==0.12.6
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.3
numpy==2.1.2
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==24.2
pandas==2.3.2
passlib==1.7.4
pillow==11.1.0
polars==1.33.1
promise==2.3
protobuf==6.32.1
psutil==7.1.0
psycopg2-binary==2.9.10
publicsuffix2==2.20191221
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydivert==2.1.0
Pygments==2.19.2
PyJWT==2.9.0
pylsqpack==0.3.22
pyOpenSSL==25.0.0
pyparsing==3.2.3
pyperclip==1.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
qrcode==8.1
razorpay==1.4.2
redis==6.4.0
requests==2.32.3
retina-face==0.0.17
rich==14.1.0
ruamel.yaml==0.18.10
scipy==1.16.2
service-identity==24.2.0
setuptools==78.1.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.8
sqlparse==0.5.3
sympy==1.13.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
text-unidecode==1.3
torch==2.8.0+cu128
torchvision==0.23.0+cu128
tornado==6.5
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.203
ultralytics-thop==2.0.17
urllib3==2.3.0
urwid==2.6.16
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
wsproto==1.2.0
zstandard==0.23.0
